VexiumDB_Dashboard_API.json
{
    "name": "VexiumDB Dashboard API",
    "nodes": [
        {
            "parameters": {
                "path": "db-stats",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                -400
            ],
            "id": "a1000001-0001-0001-0001-000000000001",
            "name": "GET /db-stats",
            "webhookId": "db-stats"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT \n  (SELECT COUNT(*) FROM information_schema.tables WHERE table_schema='public') as total_tables,\n  (SELECT SUM(n_live_tup) FROM pg_stat_user_tables) as total_rows,\n  (SELECT COUNT(*) FROM information_schema.columns WHERE table_schema='public') as total_columns,\n  pg_size_pretty(pg_database_size(current_database())) as db_size;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                -400
            ],
            "id": "a1000001-0001-0001-0001-000000000002",
            "name": "Query Stats",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                -400
            ],
            "id": "a1000001-0001-0001-0001-000000000003",
            "name": "Respond Stats"
        },
        {
            "parameters": {
                "path": "db-tables",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                -200
            ],
            "id": "a1000002-0002-0002-0002-000000000001",
            "name": "GET /db-tables",
            "webhookId": "db-tables"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT \n  t.table_name,\n  (SELECT count(*) FROM information_schema.columns c WHERE c.table_name = t.table_name AND c.table_schema = 'public') as column_count,\n  COALESCE(s.n_live_tup, 0) as row_count\nFROM information_schema.tables t\nLEFT JOIN pg_stat_user_tables s ON t.table_name = s.relname\nWHERE t.table_schema = 'public'\nORDER BY t.table_name;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                -200
            ],
            "id": "a1000002-0002-0002-0002-000000000002",
            "name": "Query Tables",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                -200
            ],
            "id": "a1000002-0002-0002-0002-000000000003",
            "name": "Respond Tables"
        },
        {
            "parameters": {
                "path": "db-columns",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                0
            ],
            "id": "a1000003-0003-0003-0003-000000000001",
            "name": "GET /db-columns",
            "webhookId": "db-columns"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT column_name, data_type, is_nullable, column_default\nFROM information_schema.columns\nWHERE table_schema = 'public' AND table_name = '{{ $json.query.table }}'\nORDER BY ordinal_position;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                0
            ],
            "id": "a1000003-0003-0003-0003-000000000002",
            "name": "Query Columns",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                0
            ],
            "id": "a1000003-0003-0003-0003-000000000003",
            "name": "Respond Columns"
        },
        {
            "parameters": {
                "path": "db-data",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                200
            ],
            "id": "a1000004-0004-0004-0004-000000000001",
            "name": "GET /db-data",
            "webhookId": "db-data"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT * FROM {{ $json.query.table }} ORDER BY 1 DESC LIMIT 200;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                200
            ],
            "id": "a1000004-0004-0004-0004-000000000002",
            "name": "Query Data",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                200
            ],
            "id": "a1000004-0004-0004-0004-000000000003",
            "name": "Respond Data"
        },
        {
            "parameters": {
                "path": "db-schema",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                400
            ],
            "id": "a1000005-0005-0005-0005-000000000001",
            "name": "GET /db-schema",
            "webhookId": "db-schema"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT \n  t.table_name,\n  c.column_name,\n  c.data_type,\n  c.is_nullable,\n  c.column_default\nFROM information_schema.tables t\nJOIN information_schema.columns c \n  ON t.table_name = c.table_name \n  AND t.table_schema = c.table_schema\nWHERE t.table_schema = 'public'\nORDER BY t.table_name, c.ordinal_position;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                400
            ],
            "id": "a1000005-0005-0005-0005-000000000002",
            "name": "Query Schema",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                400
            ],
            "id": "a1000005-0005-0005-0005-000000000003",
            "name": "Respond Schema"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "db-query",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                600
            ],
            "id": "a1000006-0006-0006-0006-000000000001",
            "name": "POST /db-query",
            "webhookId": "db-query"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ $json.body.query }}",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                600
            ],
            "id": "a1000006-0006-0006-0006-000000000002",
            "name": "Execute Custom Query",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                600
            ],
            "id": "a1000006-0006-0006-0006-000000000003",
            "name": "Respond Query"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "db-create-table",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                800
            ],
            "id": "a1000007-0007-0007-0007-000000000001",
            "name": "POST /db-create-table",
            "webhookId": "db-create-table"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ 'CREATE TABLE IF NOT EXISTS ' + $json.body.table_name + ' (' + $json.body.columns.map(c => c.name + ' ' + c.type).join(', ') + ');' }}",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                800
            ],
            "id": "a1000007-0007-0007-0007-000000000002",
            "name": "Create Table",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{ \"success\": true, \"message\": \"Table created\" }",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                800
            ],
            "id": "a1000007-0007-0007-0007-000000000003",
            "name": "Respond Create"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "db-insert",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                1000
            ],
            "id": "a1000008-0008-0008-0008-000000000001",
            "name": "POST /db-insert",
            "webhookId": "db-insert"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ (() => { const d = $json.body.data; const keys = Object.keys(d); const vals = keys.map(k => \"'\" + String(d[k]).replace(/'/g, \"''\") + \"'\"); return 'INSERT INTO ' + $json.body.table_name + ' (' + keys.join(', ') + ') VALUES (' + vals.join(', ') + ');'; })() }}",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                1000
            ],
            "id": "a1000008-0008-0008-0008-000000000002",
            "name": "Insert Row",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{ \"success\": true, \"message\": \"Row inserted\" }",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                1000
            ],
            "id": "a1000008-0008-0008-0008-000000000003",
            "name": "Respond Insert"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "db-update",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                1200
            ],
            "id": "a1000009-0009-0009-0009-000000000001",
            "name": "POST /db-update",
            "webhookId": "db-update"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ (() => { const d = $json.body.data; const w = $json.body.where; const sets = Object.keys(d).filter(k => k !== w.column).map(k => k + \" = '\" + String(d[k]).replace(/'/g, \"''\") + \"'\"); return 'UPDATE ' + $json.body.table_name + ' SET ' + sets.join(', ') + \" WHERE \" + w.column + \" = '\" + String(w.value).replace(/'/g, \"''\") + \"';\"; })() }}",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                1200
            ],
            "id": "a1000009-0009-0009-0009-000000000002",
            "name": "Update Row",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{ \"success\": true, \"message\": \"Row updated\" }",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                1200
            ],
            "id": "a1000009-0009-0009-0009-000000000003",
            "name": "Respond Update"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "db-delete",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                1400
            ],
            "id": "a1000010-0010-0010-0010-000000000001",
            "name": "POST /db-delete",
            "webhookId": "db-delete"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ 'DELETE FROM ' + $json.body.table_name + \" WHERE \" + $json.body.where.column + \" = '\" + String($json.body.where.value).replace(/'/g, \"''\") + \"';\" }}",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                1400
            ],
            "id": "a1000010-0010-0010-0010-000000000002",
            "name": "Delete Row",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{ \"success\": true, \"message\": \"Row deleted\" }",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                1400
            ],
            "id": "a1000010-0010-0010-0010-000000000003",
            "name": "Respond Delete"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "db-drop-table",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                1600
            ],
            "id": "a1000011-0011-0011-0011-000000000001",
            "name": "POST /db-drop-table",
            "webhookId": "db-drop-table"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ 'DROP TABLE IF EXISTS ' + $json.body.table_name + ';' }}",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                1600
            ],
            "id": "a1000011-0011-0011-0011-000000000002",
            "name": "Drop Table",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{ \"success\": true, \"message\": \"Table dropped\" }",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                1600
            ],
            "id": "a1000011-0011-0011-0011-000000000003",
            "name": "Respond Drop"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "db-add-column",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                220,
                1800
            ],
            "id": "a1000012-0012-0012-0012-000000000001",
            "name": "POST /db-add-column",
            "webhookId": "db-add-column"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ 'ALTER TABLE ' + $json.body.table_name + ' ADD COLUMN ' + $json.body.column_name + ' ' + $json.body.column_type + ';' }}",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                460,
                1800
            ],
            "id": "a1000012-0012-0012-0012-000000000002",
            "name": "Add Column",
            "credentials": {
                "postgres": {
                    "id": "SA63uR9JlxfgsmMU",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{ \"success\": true, \"message\": \"Column added\" }",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                700,
                1800
            ],
            "id": "a1000012-0012-0012-0012-000000000003",
            "name": "Respond Add Col"
        },
        {
            "parameters": {
                "content": "## 🗄️ VexiumDB Dashboard API\n\nAll endpoints for the Database Dashboard.\n\n**GET endpoints:**\n- `/db-stats` — Database statistics\n- `/db-tables` — List all tables\n- `/db-columns?table=X` — Get columns for table\n- `/db-data?table=X` — Get data (limit 200)\n- `/db-schema` — Full schema info\n\n**POST endpoints:**\n- `/db-query` — Execute custom SQL\n- `/db-create-table` — Create new table\n- `/db-insert` — Insert row\n- `/db-update` — Update row\n- `/db-delete` — Delete row\n- `/db-drop-table` — Drop table\n- `/db-add-column` — Add column\n",
                "height": 600,
                "width": 660,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -180,
                -500
            ],
            "typeVersion": 1,
            "id": "a1000000-note-0000-0000-000000000001",
            "name": "Sticky Note"
        }
    ],
    "pinData": {},
    "connections": {
        "GET /db-stats": {
            "main": [
                [
                    {
                        "node": "Query Stats",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Stats": {
            "main": [
                [
                    {
                        "node": "Respond Stats",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET /db-tables": {
            "main": [
                [
                    {
                        "node": "Query Tables",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Tables": {
            "main": [
                [
                    {
                        "node": "Respond Tables",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET /db-columns": {
            "main": [
                [
                    {
                        "node": "Query Columns",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Columns": {
            "main": [
                [
                    {
                        "node": "Respond Columns",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET /db-data": {
            "main": [
                [
                    {
                        "node": "Query Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Data": {
            "main": [
                [
                    {
                        "node": "Respond Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET /db-schema": {
            "main": [
                [
                    {
                        "node": "Query Schema",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Schema": {
            "main": [
                [
                    {
                        "node": "Respond Schema",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST /db-query": {
            "main": [
                [
                    {
                        "node": "Execute Custom Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Custom Query": {
            "main": [
                [
                    {
                        "node": "Respond Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST /db-create-table": {
            "main": [
                [
                    {
                        "node": "Create Table",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Table": {
            "main": [
                [
                    {
                        "node": "Respond Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST /db-insert": {
            "main": [
                [
                    {
                        "node": "Insert Row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert Row": {
            "main": [
                [
                    {
                        "node": "Respond Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST /db-update": {
            "main": [
                [
                    {
                        "node": "Update Row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Row": {
            "main": [
                [
                    {
                        "node": "Respond Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST /db-delete": {
            "main": [
                [
                    {
                        "node": "Delete Row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete Row": {
            "main": [
                [
                    {
                        "node": "Respond Delete",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST /db-drop-table": {
            "main": [
                [
                    {
                        "node": "Drop Table",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Drop Table": {
            "main": [
                [
                    {
                        "node": "Respond Drop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST /db-add-column": {
            "main": [
                [
                    {
                        "node": "Add Column",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Add Column": {
            "main": [
                [
                    {
                        "node": "Respond Add Col",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "vexiumdb-api-v1",
    "meta": {
        "instanceId": "vexiumdb-dashboard"
    },
    "tags": [
        {
            "name": "database"
        },
        {
            "name": "dashboard"
        },
        {
            "name": "api"
        }
    ]
}